@import "tailwindcss";

@theme{
    --color-*: initial;
    --color-white:#ffffff;
    --color-purple-700: #4338ca;
    --color-purple-600: #4f46e;
    --color-green-600: #16a34a;
    --color-green-500: #22c55e;
    --color-gray-50:#f9fafb;
    --color-gray-100:rgb(243 244 246);
    --color-gray-200:#e5e7eb;
    --color-gray-400:rgb(156 163 175);
    --color-gray-800:#1f2937;
}
